
html,
body {
    width: 100dvw;
    height: 100dvh;
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
    font-size: 90%;

    --primary-background: #3b3b3b;
    --secondary-background: #111111;
    --primary-text: #ffffff;
    --secondary-text: #c3c3c3;

    --accent-color: #c43400;

    --corner-radius: 0.3rem;

    background-color: var(--primary-background);
    color: var(--primary-text);
}

body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    max-width: 100vw;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: var(--primary-background);
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-text);
    border-radius: 0.5rem;
    border: 0.25rem solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary-text);
    border-radius: 0.5rem;
    border: 0.25rem solid transparent;
    background-clip: content-box;
}

input {
    box-sizing: border-box;
}

.pannel {
    background-color: var(--secondary-background);
    width: 20rem;
    min-width: 20rem;
    height: 100%;
    /* resize: horizontal; */
    text-align: center;
    overflow-y: scroll;

    scrollbar-gutter: stable;
}

.pannel-section {
    /* border: #ffffff 1px solid; */
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;

    direction: ltr;
}


.error {
    color: red;
}

.success {
    color: green;
}

.accent {
    color: cyan;
}

.pannel h1 {
    margin: 0.2rem 0 0.2rem 0;
    padding: 0;
}

.pannel h2 {
    margin: 0.2rem 0 0.2rem 0;
    padding: 0;
}
.pannel p {
    margin: 0 0 0.2rem 0;
    padding: 0;
}

.pannel select {
    width: 100%;
    min-height: 1.5rem;
    margin: 0 0 1rem 0;

    border: none;
    border-radius: var(--corner-radius);

    transition: 0.2s ease-in-out;
}

.pannel select:hover,:focus {
    background-color: var(--primary-background);
    color: var(--primary-text);
}

.pannel button {
    width: 100%;
    min-height: 1.5rem;
    margin: 0 0 1rem 0;

    border: none;
    border-radius: var(--corner-radius);
    font-size: 0.8rem;

    transition: 0.2s ease-in-out;
}

.pannel button:hover:not([disabled]) {
    background-color: var(--primary-background);
    color: var(--primary-text);
}

.pannel input {
    min-height: 1.5rem;
    margin: 0 0 1rem 0;

    border: none;
    border-radius: var(--corner-radius);

    transition: 0.2s ease-in-out;
}

.pannel input:hover,:focus {
    background-color: var(--primary-background);
    color: var(--primary-text);
}

.pannel hr {
    width: 90%;
    margin: 0.5rem 4% 0.5rem 4%;

    border-bottom: 1px solid var(--primary-text);
}

.pannel-dual {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pannel-dual button {
    width: 45%;
}

.pannel-dual div {
    width: 45%;
}

.pannel-dual input[type="checkbox"] {
    width: 45%;
    height: 1.5rem;

    border: none;
    border-radius: var(--corner-radius);
    font-size: 0.8rem;
}

.pannel-twenty-seventy {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pannel-twenty-seventy>:first-child {
    width: 23%;
}

.pannel-twenty-seventy>:last-child {
    width: 73%;
}

.pannel-seventy-twenty {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pannel-seventy-twenty>:first-child {
    width: 73%;
}

.pannel-seventy-twenty>:last-child {
    width: 23%;
}

.pannel-sixty-thirty {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pannel-sixty-thirty>:first-child {
    width: 63%;
}

.pannel-sixty-thirty>:last-child {
    width: 33%;
}

.pannel-fifty-fifty {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pannel-fifty-fifty>:first-child {
    width: 48%;
}

.pannel-fifty-fifty>:last-child {
    width: 48%;
}

.small-offset {
    width: 100%;
    height: 1rem;
}

#left-pannel {
    float: left;
}

#right-pannel {
    float: right;
    direction: rtl;
}

.connected {
    background-color: darkolivegreen;
    color: white;
}

.control-button {
    width: 3.5rem !important;
    height: 2rem;

    margin: 0.5rem 0.25rem 0 0.25rem !important;
}

#control-section div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#console-output {
    width: calc(100% - 1rem);
    height: 6rem;

    margin: 0 0 1rem 0;
    padding: 0.5rem;
    text-align: left;
    overflow-y: scroll;

    background-color: var(--primary-background);
    border-radius: var(--corner-radius);
    font-size: 0.7rem;

}

.file-upload-input {
    display: none;
}

.custom-file-upload-group {
    width: 100%;
    height: 1.5rem;
    margin: 0 0 1rem 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border: none;
    border-radius: var(--corner-radius);
    background-color: var(--primary-text);
    color: var(--secondary-background);
    font-size: 0.8rem;

    transition: 0.2s ease-in-out;
}

.custom-file-upload-group:hover {
    background-color: var(--primary-background);
    color: var(--primary-text);
}

.toggle {
    width: 100%;
    min-height: 1.5rem;
    margin: 0 0 1rem 0;
    padding: 0.2rem 0 0 0;

    border: none;
    border-radius: var(--corner-radius);
    font-size: 0.8rem;

    position : relative ;
    display : flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: var(--primary-text);
    color: var(--secondary-background);
}

.toggle:hover {
    background-color: var(--primary-background);
}

.net-selection-slider {
    display : none;
}

.net-selection-slider:checked + .toggle {
    background-color: var(--primary-background);
    color: var(--primary-text);
}


#main-view {
    width: 100%;
    height: 100%;

    overflow: hidden;
}

#main-display-selection {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 2rem 1rem;
}

#main-display-selection button {
    width: calc(50%);
    height: 2rem;

    background-color: var(--secondary-background);
    color: var(--primary-text);

    border: 0;

    transition: 0.2s ease-in-out;
}

#main-display-schematics-button {
    border-top-left-radius: var(--corner-radius);
    border-bottom-left-radius: var(--corner-radius);
}

#main-display-pcb-2D-button {
    border-top-right-radius: var(--corner-radius);
    border-bottom-right-radius: var(--corner-radius);
}


.main-display-button-selected {
    background-color: var(--accent-color) !important;
}


#main-view .main-display-section {
    width: calc(100% - 2rem);
    height: calc(100% - 8rem);
    position: relative;
    top: 0;
    left: 1rem;
    z-index: 1;
}

.orientation-selection-button {
    width: 25%;
    border-radius: 0 !important;
    margin: 0 !important;
    color: var(--primary-background);
}

.orientation-selection-button-selected {
    background-color: var(--accent-color) !important;
    color: var(--primary-text) !important;
}

.full-line {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#orientation-selection {
    overflow: hidden;
    border-radius: var(--corner-radius);
}
